h1{
    font-family: "Poppins", sans-serif;
    font-style:italic;
    color:rgb(236, 235, 230);
    text-align:center;
    background-color:rgb(76, 172, 232);
    box-shadow:5px 3px rgba(0, 0, 0, 0.592);
    text-shadow:5px 5px 5px black;
}
img{
    width:300px;
     height:300px;
     margin-left:30px;
     margin-right:30px;
     border:6px 4px black;
     border-style:double;
     border-color:rgb(4, 3, 16);
     background-color:aqua;
     border-width: 10px;
}
#img1{
    float:left;
    
}
#img2{
    float:center;
    margin-left:200px;
  
    
}
#img3{
    float:right;
   
}
p{
    font-family: "Poppins", sans-serif;
    margin:20px;
}
body{
    background-color:rgb(239, 247, 148);
    background-image:linear-gradient(to right,rgb(213, 213, 112),rgb(227, 181, 94))
}